.cabecalho {
    background-color: rgb(80, 4, 80);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
     padding: 28px 0;
}

.cabecalho-imagem {
  width: 15%;
  left: 10%;
}

.cabecalho-lista-item{
  display: inline-block;
  margin: 0 16px;
  font-size: 22px;
}

.projeto-titulo{

  align-items:center;
  
}

