.cabecalho {
    background-color: rgb(80, 4, 80);
    color: white;
    display: flex;
    justify-content: space-around;
    width: 25%;
  left: 25%;
}

.cabecalho-imagem {
  width: 18%;
  left: 10%;
}



