.cabecalho {
    background-color: rgb(80, 4, 80);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150%;
  left: 100%;
}

.cabecalho-imagem {
  width: 18%;
  left: 10%;
}



